
div#box1{
    margin : 20px;
    border : 1px solid red;  
}

div#box2{
    margin : 40px;
    border : 1px solid orange;
}

span#span1{
    margin : 100px;
    border : 1px solid blue;
}

span#span2{
    margin : 200px;
    border : 1px solid violet;
}